body {
  margin: 0;
  overflow: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.threedee {
  display: flex;
  width: 100%;
  justify-content: center;
}

.slides {
  margin-bottom: 1%;
}

model-viewer {
  width: 400px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  model-viewer {
  width: 600px;
  height: 600px;
}
}

